@import "variables.less";
@import "responsive.less";
@import "media.less";


.pr-heading{
    background-color: @red;
    color: @white;
    width: 50%;
    display: inline-block;
    transform: translate(-6%);
}

.form-control {
    display: block;
    width: 30%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: @white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.main-footer{
position: relative;
margin-bottom: 10px;
top: 45px;
}

.row {
    margin-right: -15px;
    margin-left: -58px;
}