@import "variables.less";

*{
borderbox: box-sizing;
}

.header1{
    position: relative;
    top: -50px;
    width: 100%;
    left: 0%;
}

.row{
    margin: 1px 65px;
    &::after{
    content:"";
    clear: both;
    display: block;
}
}