<!DOCTYPE html>
<html lang="en">
<head>
    <!--title of this html file-->
    <title>Online Banking</title>

    <!--this is external style-->

    <link href="../stylesheets/styles/styles.css" rel="stylesheet"/>

    <!--meta - this is used to describe more mata information-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>

</head>
    <!--body of the web page-->
    <body>
        <!--main article for forms-->
        <section class="container-fluid">
            <header class="header1">

                <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="images/6.jpg" class="image-resp">
                </figure>
            </header>
            <article class="container">

                    <div class="row">

                        <form>
                            <!--online id-->
                            <div class="column-xs-12 column-sm-6 column-md-6  column-lg-6">
                                <label for="loginid">Online ID</label>
                                <input type="text" id="loginid" name="loginid"/>

                            </div>
                            </br>
                            <div class="column-xs-12 column-sm-6 column-md-6  column-lg-6">
                                <input type="checkbox" id="save" name="save" />
                                <label for="save">Save this Online ID</label>
                                </div>
                            </br>
                            <!--For Password-->
                            <div class="column-xs-12 column-sm-6 column-md-6  column-lg-6">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password"/>
                                    <a href="#">Forgot Password?</a>
                                </div>
                            </br>
                                <!--Sign in button-->
                                <div>
                                    <button type="submit">
                                        Sign in
                                    </button>
                                </div>
                                </form>
                            </div>
                </article>

        </section>
    </body>
</html>